Repository BE-UPP/be-upp-frontend, pull requests merged in 2021-12, with the labels that each got.

#36 Professional main page
  .vscode/settings.json
  frontend/.env
  frontend/.env-example
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Confirm.css
  frontend/src/components/UserForm.jsx
  frontend/src/components/login/Login.css
  frontend/src/components/login/Login.jsx
  frontend/src/components/login/Login.module.css
  frontend/src/components/professional/MainPage.jsx
  frontend/src/components/professional/MainPage.module.css
  frontend/src/components/professional/appointment/Appointment.jsx
  frontend/src/components/professional/appointment/Appointment.module.css
  frontend/src/components/professional/appointment/pacienteTest.json
  frontend/src/components/professional/header/Header.jsx
  frontend/src/components/professional/header/Header.module.css
  frontend/src/components/professional/listPatient/ListPatient.jsx
  frontend/src/components/professional/listPatient/ListPatient.module.css
  frontend/src/components/professional/listPatient/dummyData.js
  frontend/src/components/professional/listPatient/table/Table.jsx
  frontend/src/components/professional/listPatient/table/Table.module.css
  frontend/src/components/professional/registerPatient/RegisterPatient.jsx
  frontend/src/components/professional/registerPatient/RegisterPatient.module.css
  frontend/src/components/professional/report/RenderElements.jsx
  frontend/src/components/professional/report/Report.jsx
  frontend/src/components/professional/report/Report.module.css
  frontend/src/components/professional/report/elements/List.jsx
  frontend/src/components/professional/report/elements/Text.jsx
  frontend/src/components/professional/report/reportTab/ReportTab.jsx
  frontend/src/components/professional/report/reportTab/ReportTab.module.css
  frontend/src/components/professional/report/reportTemplate.json
  frontend/src/components/professional/searchBar/SearchBar.jsx
  frontend/src/components/professional/searchBar/SearchBar.module.css
  frontend/src/components/professional/sidebar/Sidebar.jsx
  frontend/src/components/professional/sidebar/Sidebar.module.css
  frontend/src/components/professional/sidebar/SidebarItems.js
  frontend/src/renderQuestions/RenderElements.jsx
  frontend/src/renderQuestions/elements/Text.jsx
  frontend/yarn.lock
Labels: Frontend, Sprint-5

#43 Mudança de rotas das APIs no modo de produção
  frontend/src/apiRoutes/apiRoutes.jsx
  frontend/src/components/UserForm.jsx
  frontend/src/components/login/Login.jsx
  frontend/src/components/professional/MainPage.jsx
  frontend/src/components/professional/appointment/Appointment.jsx
  frontend/src/components/professional/listPatient/ListPatient.jsx
  frontend/src/components/professional/registerPatient/RegisterPatient.jsx
  frontend/src/components/professional/report/Report.jsx
Labels: Frontend

#45 Erro ao acessar relatório inexistente
  frontend/.gitignore
  frontend/src/components/professional/appointment/Appointment.jsx
  frontend/src/components/professional/report/Report.jsx
  frontend/src/components/professional/sidebar/Sidebar.jsx
  frontend/src/formatting/SendDataFormatting.jsx
  frontend/src/test/formatting.test.js
Labels: Frontend

#49 Fix relatório não mostrado
  frontend/src/components/professional/report/Report.jsx
Labels: bug, Frontend

#51 Fix link da consulta impressa
  frontend/src/components/professional/appointment/Appointment.jsx
Labels: invalid, Frontend

#53 Fix celular não aparecendo na lista de consultas
  frontend/src/components/professional/listPatient/table/Table.jsx
Labels: bug, Frontend

#55 Fix formulário sobrepondo outro formulário
  frontend/src/components/professional/listPatient/table/Table.jsx
  frontend/src/components/professional/report/Report.jsx
Labels: bug, Frontend

#57 Mudança na validação do telefone no cadastro
  frontend/src/components/login/Login.jsx
  frontend/src/test/formatting.test.js
Labels: enhancement, Frontend
